*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
*.iml
.scala_dependencies
.worksheet
.idea
.idea_modules
.bsp/sbt.json
